@import '../scss/variables.scss';

.AddTodo {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: $unit*2;

  label + input {
    margin-left: 8px;
  }

  input + button {
    margin-left: 4px;
  }
}

.error {
  outline: 1px solid $carrot;
}
