@import '../variables.css';

.btn {
	align-items: center;
	background-color: var(--sky);
	border: 2px solid var(--sky);
	border-radius: var(--radius);
	color: var(--white);
	display: flex;
	height: var(--height);
	justify-content: center;
	outline: none;
	padding: 2px 6px;

	&:focus,
	&:hover {
		border-color: var(--ocean);
	}

	svg {
		fill: var(--ocean);
	}
}

.btn-clean {
	background-color: transparent;
	border: none;
	padding: 0;

	svg {
		fill: var(--ocean);
	}
}
