@import '../variables.scss';

.btn {
	align-items: center;
	background-color: $sky;
	border: 2px solid $sky;
	border-radius: $radius;
	color: $white;
	display: flex;
	height: $height;
	justify-content: center;
	outline: none;
	padding: 2px 6px;

	&:focus,
	&:hover {
		border-color: $ocean;
	}

	svg {
		fill: $ocean;
	}
}

.btn-clean {
	background-color: transparent;
	border: none;
	padding: 0;

	svg {
		fill: $ocean;
	}
}
