@import '../scss/variables.scss';

.TodoItem {
  border: 1px solid $lite;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  &:hover {
    background-color: #f5f5f5;
  }

  & + & {
    margin-top: .5rem;
  }
}

.delete {
  transform: translate3d(0,2%,0);

  &:focus svg,
  &:hover svg {
    fill: $carrot;
  }
}
