@import '../variables.scss';

.TodoItem {
    align-items: center;
    outline: 1px solid $lite;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    @media screen and (min-width: 820px) {
        padding: $unit;
    }
    
    & + & {
        margin-top: $unit;
    }

    &.is-complete {
		background-color: $xlite;
		color: $mid;
	}
}

.TodoItem-body {
	display: flex;

	.is-complete & {
		flex-direction: column;
	}

	button {
		margin-left: $unit/3;
	}
}

.TodoItem-title {
	color: $sky;
	font-size: $unit;
	font-weight: 700;
	margin-bottom: $unit/4;
	margin-top: 0;
	padding-right: $unit/3;
}

.TodoItem-info {
	font-size: 80%;
}

.TodoItem-nav {
	align-items: center;
	display: flex;
	justify-content: center;
}

.TodoItem-action {
	color: #555;
}

.TodoItem-btn {
	background-color: transparent;
	border-color: transparent;
	height: 28px;
	padding: 0;
	width: 28px;

	& + & {
		margin-left: $unit/4;
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	&[disabled] {
		opacity: 0.35;
		pointer-events: none;
	}
}
