@import '../variables.css';

.TodoItem {
    align-items: center;
    outline: 1px solid var(--lite);
    border-radius: var(--radius);
    display: flex;
    justify-content: space-between;
	margin-top: var(--unit);
    padding: 10px;

    @media screen and (min-width: 820px) {
        padding: var(--unit);
    }

	.is-grid & {
		margin-top: 0;
	}

    &.is-complete {
		background-color: var(--white);
	}
}

.TodoItem-body {
	display: flex;

	.is-complete & {
		flex-direction: column;
	}

	button {
		margin-left: calc(var(--unit)/3);
	}
}

.TodoItem-title {
	color: var(--sky);
	font-size: var(--unit);
	font-weight: 700;
	margin-bottom: calc(var(--unit)/4);
	margin-top: 0;
	padding-right: calc(var(--unit)/3);
}

.TodoItem-info {
	font-size: 80%;
}

.TodoItem-nav {
	align-items: center;
	display: flex;
	justify-content: center;
}

.TodoItem-utils {
	border-radius: calc(var(--radius)/2);
	color: var(--dark);
	font-size: 80%;
	outline: 2px solid transparent;

	&:focus,
	&:hover {
		outline-color: var(--ocean);
	}
}

.TodoItem-btn {
	background-color: transparent;
	border-color: transparent;
	height: 28px;
	padding: 0;
	width: 28px;

	& + & {
		margin-left: calc(var(--unit)/4);
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}

	&[disabled] {
		opacity: 0.35;
		pointer-events: none;
	}
}
