@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700&display=swap');
@import 'scss/variables.scss';

body {
  background-color: $sky;
  color: $dark;
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: center;
}

@for $i from 0 through 6 {
  h#{$i} {
    font-family: 'Roboto Slab', serif;
  }
}

ul {
  padding-left: 18px;
}

.list-unstyled {
  list-style-type: none;
  padding-left: 0;
}

.App {
  background-color: $white;
  padding: 2rem;
  width: 700px;
}
