@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700&display=swap');
@import './variables.scss';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: $sky;
    color: $dark;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    justify-content: center;
    line-height: 1.45;
    margin: 0;
}

@for $i from 0 through 6 {
    h#{$i} {
        font-family: 'Roboto Slab', serif;
    }
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.list-unstyled {
    list-style-type: none;
    padding-left: 0;
}

#root {
    height: 100%;
    width: 100%;
}

.App {
    background-color: $white;
    border-radius: $radius;
    margin-left: auto;
    margin-right: auto;
    margin-top: $unit;
    min-height: 100%;
    padding: $unit;
    width: calc(100% - 2rem);
  
    @media screen and (min-width: 820px) {
        box-shadow: 1px 5px 16px rgba(0,0,0,.25);
        margin-top: $unit*3;
        max-width: 700px;
        padding: $unit * 2;
        width: 100%;
    }

    :last-child {
        margin-bottom: 0;
    }
}

.App-header {
    margin-bottom: $unit*2;

    @media screen and (min-width: 820px) {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}

.App-subheader {
    align-items: center;
    display: flex;
    justify-content: space-between;

    span {
        color: $mid;
        font-size: .85rem;
    }
}

.App-title {
    color: $ocean;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 0;

    @media screen and (min-width: 820px) {
        margin-bottom: 0;
    }
}

.App-subtitle {
    color: $sky;
}

.App-subtitle {
    margin: 0;
}

.App-section {
	& + & {
		background-color: #eaeef5;
		border-top: 1px dashed;
		border-color: $lite;
		margin: -$unit;
		margin-top: $unit*2;
		padding: $unit;
		padding-top: $unit;

        @media screen and (min-width: 820px) {
            margin: -$unit*2;
            margin-top: $unit*2;
            padding: $unit*2;
            padding-top: $unit;
        }
	}
}

.form-control {
    border: 2px solid $lite;
    border-radius: $radius;
    height: $height;
    padding: $unit/4;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
