@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700&display=swap');
@import 'scss/variables.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $sky;
  color: $dark;
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: center;
  line-height: 1.5;
}

@for $i from 0 through 6 {
  h#{$i} {
    font-family: 'Roboto Slab', serif;
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.list-unstyled {
  list-style-type: none;
  padding-left: 0;
}

.App {
  background-color: $white;
  border-radius: $radius;
  box-shadow: 1px 5px 16px rgba(0,0,0,.25);
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  max-width: 700px;
  padding: $unit * 2;
  width: 90%;

  @media screen and (min-width: 820px) {
    width: 100%;
  }
}

.input-control {
  border: 1px solid #cccccc;
  height: $height;
  padding: 4px;
}

.btn {
  background-color: $sky;
  border-radius: $radius;
  color: $white;
  height: $height;
  padding: 4px 8px;

  svg {
    fill: $dark;
  }
}

.AddTodo {
  margin-bottom: $unit*2;

  @media screen and (min-width: 820px) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  label + input {
    margin-left: 8px;
  }

  input + button {
    margin-left: 4px;
  }
}

.TodoItem {
  align-items: center;
  border: 2px solid #cccccc;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  @media screen and (min-width: 820px) {
    padding: $unit;
  }

  & + & {
    margin-top: 1rem;
  }
}

.TodoItem-title {
  font-size: 1rem;
  margin: 0;
  padding-right: $unit;
  width: calc(100% - 90px);
}

.TodoItem-nav {
  width: 90px;
}

.TodoItem-btn {
  background-color: $lite;
  border: 1px solid #cccccc;

  & + & {
    margin-left: 6px;
  }
}
