$sky: #6799de;
$ocean: #365782;
$carrot: #ff8536;
$xlite: #f0f0f0;
$lite: #cccccc;
$mid: #999999;
$dark: #333333;
$white: #ffffff;
$black: #000000;

$unit: 1rem;
$font-size: $unit;
$height: 36px;
$radius: 4px;
